div#alerts {
    position: absolute;
    z-index: 100000;
    left: 378px;
    top: 11px;
    opacity: 0.66;

    .alert {
        background: black;

    width: 250px;
    height: auto;
    border-radius: 4px;
      padding: 0.5em;
      border-bottom: solid 1px #ddd;
      margin-bottom: 6px;
    }

    .alert:last-child {
      border-bottom: none;
    }
}