@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSans.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSans300.woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSans600.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Yesteryear';
  src: url('../fonts/Yesteryear.woff');
  font-weight: normal;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

div#ng-view {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}

.subtle {
  color: #999;
}

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.movable {
  cursor: move;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: orange;
}

#logo {
  color: rgb(189, 255, 255);
  font-style: italic;
  font-family: 'Yesteryear', sans-serif;
}

.col-md-12, .col-sm-12 {
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100% - 50px);

  footer {
    height: 50px;
    width: 100%;
  }

  .map-board {
    flex: 1;
  }
}

div#ng-view {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}