.icon-star-before { content: '\e800'; } /* '' */
.icon-star-filled-before { content: '\e801'; } /* '' */
.icon-search-before { content: '\e802'; } /* '' */
.icon-pencil-before { content: '\e803'; } /* '' */
.icon-tiles-before { content: '\e804'; } /* '' */
.icon-list-before { content: '\e805'; } /* '' */
.icon-logout-before { content: '\e806'; } /* '' */
.icon-doc-add-before { content: '\e807'; } /* '' */
.icon-doc-remove-before { content: '\e808'; } /* '' */
.icon-list-add-before { content: '\e809'; } /* '' */
.icon-link-before { content: '\e80a'; } /* '' */
.icon-instagram-before { content: '\e80b'; } /* '' */
.icon-facebook-squared-before { content: '\e80c'; } /* '' */
.icon-mail-before { content: '\e80d'; } /* '' */
.icon-mobile-before { content: '\e80e'; } /* '' */
.icon-marker-before { content: '\e80f'; } /* '' */
.icon-direction-before { content: '\e810'; } /* '' */
.icon-dollar-before { content: '\e811'; } /* '' */
.icon-clock-before { content: '\e812'; } /* '' */
.icon-address-book-before { content: '\e813'; } /* '' */
.icon-tags-before { content: '\e814'; } /* '' */
.icon-note-before { content: '\e815'; } /* '' */
.icon-tag-before { content: '\e816'; } /* '' */
.icon-calendar-before { content: '\e817'; } /* '' */
.icon-cw-before { content: '\e818'; } /* '' */
.icon-megaphone-before { content: '\e819'; } /* '' */
.icon-picture-before { content: '\e81a'; } /* '' */
.icon-spin5-before { content: '\e81b'; } /* '' */
.icon-login-before { content: '\e81c'; } /* '' */
.icon-trash-before { content: '\e81d'; } /* '' */
.icon-edit-before { content: '\e81e'; } /* '' */
.icon-down-before { content: '\e81f'; } /* '' */
.icon-left-before { content: '\e820'; } /* '' */
.icon-right-before { content: '\e821'; } /* '' */
.icon-up-before { content: '\e822'; } /* '' */
.icon-check-circle-before { content: '\e823'; } /* '' */
.icon-check-before { content: '\e824'; } /* '' */
.icon-check-box-before { content: '\e825'; } /* '' */
.icon-check-box-empty-before { content: '\e826'; } /* '' */
.icon-eye-before { content: '\e827'; } /* '' */
.icon-eye-off-before { content: '\e828'; } /* '' */
.icon-ticket-before { content: '\e829'; } /* '' */
.icon-plus-squared-alt-before { content: '\e82a'; } /* '' */
.icon-minus-squared-alt-before { content: '\e82b'; } /* '' */
.icon-angle-double-right-before { content: '\e82c'; } /* '' */
.icon-angle-double-left-before { content: '\e82d'; } /* '' */
.icon-docs-before { content: '\e82e'; } /* '' */
.icon-arrows-ccw-before { content: '\e82f'; } /* '' */
.icon-users-before { content: '\e830'; } /* '' */
.icon-user-before { content: '\e831'; } /* '' */
.icon-youtube-before { content: '\e832'; } /* '' */
.icon-video-before { content: '\e833'; } /* '' */
.icon-help-before { content: '\e834'; } /* '' */
.icon-user-add-before { content: '\e835'; } /* '' */
.icon-attention-alt-before { content: '\e836'; } /* '' */
.icon-na-before { content: '\e837'; } /* '' */
.icon-cancel-before { content: '\e838'; } /* '' */
.icon-attention-before { content: '\e839'; } /* '' */
.icon-user-delete-before { content: '\e83a'; } /* '' */
.icon-ok-before { content: '\e83b'; } /* '' */
.icon-world-before { content: '\e83c'; } /* '' */
.icon-open-before { content: '\e83d'; } /* '' */
.icon-closed-before { content: '\e83e'; } /* '' */
.icon-lock-before { content: '\e83f'; } /* '' */
.icon-phone-before { content: '\e840'; } /* '' */
.icon-cancel-circled-before { content: '\e841'; } /* '' */
.icon-ok-circled-before { content: '\e842'; } /* '' */
.icon-download-before { content: '\e843'; } /* '' */
.icon-export-before { content: '\e844'; } /* '' */
.icon-bicycle-before { content: '\e845'; } /* '' */
.icon-plus-before { content: '\e846'; } /* '' */
.icon-airport-before { content: '\e847'; } /* '' */
.icon-pitch-before { content: '\e848'; } /* '' */
.icon-cog-before { content: '\e849'; } /* '' */
.icon-ferry-before { content: '\e84a'; } /* '' */
.icon-car-before { content: '\e84b'; } /* '' */
.icon-credit-card-before { content: '\e84c'; } /* '' */
.icon-rail-before { content: '\e84d'; } /* '' */
.icon-move-before { content: '\e84e'; } /* '' */