<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Rooadtrip</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" data-app-id="F7yoyoOJh8Zo7IExarIyw" src="https://c64.assets-yammer.com/assets/platform_js_sdk.js"></script>
</head>
<body  ng-controller="ApplicationController">
    <div id="ng-view" ng-view>
    </div>

  <%= render '/ng_includes' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
