<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Rooadtrip</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

  <script>
    if (navigator && navigator.onLine) {
      document.write('<script type="text/javascript" data-app-id="F7yoyoOJh8Zo7IExarIyw" src="https://c64.assets-yammer.com/assets/platform_js_sdk.js">\x3C/script>');
      document.write('<link href="http://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet" type="text/css" />');
      document.write('<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600" rel="stylesheet" type="text/css" />');
      // <!-- Load Leaflet from CDN-->
      // document.write('<link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css" />');
      // document.write('<script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js">\x3C/script>');
      // // <!-- Load Esri Leaflet from CDN -->
      // document.write('<script src="//cdn-geoweb.s3.amazonaws.com/esri-leaflet/1.0.0-rc.6/esri-leaflet.js">\x3C/script>');
    } else {
      window.yam = undefined;
    }
  </script>

  <%= javascript_include_tag 'application' %>
</head>
<body  ng-controller="ApplicationController">
    <div id="ng-view" class="container-fluid" ng-view>
    </div>

  <%= render '/ng_includes' %>
</body>
</html>
